@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  padding: 0 !important;
  scroll-behavior: smooth;
}
.shadow-inner-md {
  --tw-shadow: inset 0 4px 6px 0 rgb(0 0 0 / 0.05) !important;
  @apply shadow-inner;
}

.h-actualscreen{
  height: 100svh;
}
.focus\:ring-4{
  --tw-ring-color: rgba(0, 0, 0, 0) !important;
}

.sidebar:nth-child(1){
  border-top: 0px;
}
